body {
  background-color: #bde0fe;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  
}

#snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  z-index: 12;
  background: #5b639c;
}

header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding-left: 10px;
}
header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .navigation li {
  list-style: none;
  margin: 0 10px;
}

header .navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 12;
}
header .navigation li a:hover {
  color: #ffeb3b;
}

.banner {
  background: #434978;
  padding: 200px 100px 100px;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .content {
  max-width: 700px;

}

.banner .content h2 {
  font-size: 3em;
  color: #fff;

}

.banner .content p {
  font-size: 1em;
  color: #fff;
  
}

.banner .content a {
  display: inline-block;
  background: #fff;
  color: #434978;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 20px;
}

.banner .santaSnow{
  max-width: 300px;
  margin-left: 50px;
}






.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
  position: sticky;
  z-index: 12;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.upEvents {
  padding: 20px 50px;
}

.eventLi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  font-size: large;
  font-weight: bolder;
}



@media (max-width: 1032px){
  header{
    padding: 10px 20px;
    flex-direction: column;
  }
  .banner{
    padding: 150px 20px 50px;
    flex-direction: column-reverse;
  }
  .banner .santaSnow{
    margin-left: 0;
    max-width: 30%;
    padding-top: 20px;
  }

  .banner .content h2{
    font-size: 2em;
    color: #fff;
  }
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


  #gameCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
